.btnBack {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
}

.btnBack:hover {
  background-color: rgba(221, 221, 221, 0.372);
  color: black;
}

.previous {
  color: black;
}

.next {
  color: black;
}

.round {
  border-radius: 50%;
}